.rollDice{
    text-align: center;
    font-size: 2rem;
}
button {
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-size: large;
    background-color:#7857A3;
    font-weight: 700;
}
button:hover{
    background-color: #6B518E;
    
}


